@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Roboto";
    --color-background: #E8F0FE;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

::-webkit-scrollbar {
    display: none;
}
